body{
    background-color:#86B4CC;
    color:#000;
    font-family:Microsoft YaHei
}
.head
{
    color:#fff;
    font-size:32px;
}
table
{
    *border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.bordered
{
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover
{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th
{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th
{
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child
{
    border-left: none;
}

.bordered th:first-child
{
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child
{
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child
{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.submit {
    top:20px;
    padding: 2px 2px;
    float:left;
    margin-right: 100px;
}
.submit input[type="submit"] {
    background: #F06B37;
    border: none;
    outline: none;
    padding: 0.55em 1.3em 0.6em;
    cursor: pointer;
    font-family: 'Microsoft YaHei', sans-serif;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    -o-border-radius: 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
}
.submit input[type="button"]:hover{
    background:#62A0C4;
}
.submit input[type="button"] {
    background: #F06B37;
    border: none;
    outline: none;
    padding: 0.55em 1.3em 0.6em;
    cursor: pointer;
    font-family: 'Microsoft YaHei', sans-serif;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    -o-border-radius: 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
}
.submit input[type="submit"]:hover{
    background:#62A0C4;
}
.forget{
    float:right;
}
#mybutton{


}